
#sitebar{
    border: 0px !important; 
    background: #000000; 
    overflow:   hidden; 
}

#container{
    border: 0px !important; 
    padding:0px;
    margin:0px;
}

#content{
    padding:0px;
    margin:0px;
    border:0px;
}

#l-sch-container{
    border: 0px !important; 
    padding:0px;
    margin:0px;
}

#library {
    padding:0px;
    margin:0px;
    border-top:0px  !important;
    border-left:0px  !important;
}

#library .header{
    height          :   32px;
    line-height     :   32px;
    vertical-align  :   middle;
    text-align      :   center;
    font-weight     :   bold;
    border-left     :   0px solid;
    border-right    :   0px solid;
    margin          :   0px;     
}

.ui-layout-resizer-west-closed {
    border-width    :   0px !important;
}

/*Open button*/
.ui-layout-toggler-west-closed {
    border-bottom   :   0px !important;
    margin          :   0px !important;
    padding         :   0px !important;
}

/*Custom Close button*/
span.ui-layout-button-close {
    position    :   absolute;
    top         :   1px;
    width       :   20px;
    height      :   32px;
    z-index     :   2;
    display     :   block;
    cursor      :   pointer;
    border      :   0px;
    margin      :   0px;
}
span.ui-layout-button-close-west{
    right       :   0px; 
}
