/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only.ui-button-toolbar {
    height          : 30px;
    width           : 30px !important;
    margin-right    : 7px !important;
    margin-top      : 1px;
    margin-left     : 1px;
}

/* button elements seem to need a little more width */
button.ui-button-icon-only.ui-button-toolbar {
    height          : 32px;
    width           : 32px !important;
    margin-right    : 7px !important;
    margin-top      : 1px;
    margin-left     : 1px;
}

button.ui-button-text-icon-secondary.ui-button-toolbar,
button.ui-button-text-icon-primary.ui-button-toolbar{
    height          : 32px;
    width           : 32px;
    margin-right    : 7px !important;
    margin-top      : 1px;
    margin-left     : 1px;
}

button.ui-button-text-only.ui-button-toolbar{
    height          : 32px;
    margin-right    : 7px !important;
    margin-top      : 1px;
    margin-left     :1px;
}

.ui-button-toolbar.ui-button-text-icon-secondary,
.ui-button-toolbar.ui-button-text-icon-primary {
    height          : 30px;
    margin-right    : 7px !important;
    margin-top      : 1px;
    margin-left     : 1px;
}

/*fixed text*/
span.ui-toobar-text.ui-button-toolbar{
    display         : inline-block;
    position        : relative;
    cursor          : default;
    height          : 30px;
    line-height     : 30px;
    vertical-align  : middle;
    text-align      : center;
    margin-top      : 1px;
    margin-bottom   : 0px;
    margin-right    : -1px;
    margin-left     : 0px;
    padding-top     : 0px;
    padding-bottom  : 0px;
    padding-left    : 0.5em;
    padding-right   : 0.5em;
}

/*text input*/
input[type="text"].ui-button-toolbar{
    display         : inline-block;
    position        : relative;
    margin-top      : 0px;
    margin-bottom   : 0px;
    margin-right    : 0.5em;
    margin-left     : 0.5em;
    padding-top     : 1px;
    padding-bottom  : 1px;
    vertical-align  : middle;
    text-align      : center;
}

.ui-button-toolbar.ui-button-toolbar .ui-button-text{
     margin-left    : 0.25em !important;
}

/* button icon element(s) */
.ui-button-toolbar.ui-button-text-icon-secondary .ui-icon{
    position        : absolute;
    top             : 50%;
    margin-top      : -8px;
}

.ui-button-toolbar.ui-button-icon-only .ui-icon,
.ui-button-toolbar.ui-button-text-icon-primary .ui-icon,
.ui-button-toolbar.ui-button-text-icons .ui-icon,
.ui-button-toolbar.ui-button-icons-only .ui-icon {
    position        : absolute;
    top             : 50%;
    margin-top      : -12px;
}
.ui-button-toolbar.ui-button-icon-only .ui-icon {
    left            : 50%;
    margin-left     : -12px;
}

/* button sets */
.ui-button-toolbar.ui-buttonset {
    margin-right    : 7px ;
}
.ui-button-toolbar.ui-buttonset .ui-button.ui-button-toolbar {
    margin-left     : 0;
    margin-right    : -1px !important;
}

.ui-button-toolbar.ui-buttonset .ui-button-icon-only {
    margin-left     : 0;
    margin-right    : -1px !important;
}

/*menu*/
.ui-menu {
    position        : absolute;
    width           : 150px;
    cursor          :pointer;
}

.ui-menu-separator{
    height          : 0px;
    border-top      : 1px solid;
    margin          : 0 !important;
    padding         : 0;
}

/* dialog*/
.ui-dialog{
    font-size       : 80% !important;
}

/*select menu*/
label,select,.ui-select-menu {
    /* float: left;  */
    margin-right    : 10px;
}

ul.ui-selectmenu-menu-popup li a {
    /* font-weight: bold;  */
    font-size       : 80% !important;
}

ul.ui-selectmenu-menu-popup{
    width           : 250px !important;
}

.ui-selectmenu.ui-selectmenu-popup{
    font-weight     : bold !important;
}

#toolbar{
    border          : 0px !important;
    padding         : 0px;
    margin          : 0px;
    font-size       : 80%;
    padding         : 2px;
    display         : inline-block !important;
    padding-left    : 50px;
    padding-right   : 50px;
    overflow        : hidden;
}
